doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description', content='SEXXI: Waterloo Software Engineering Class of 2021')
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=yes')
    meta(name='author' content='Waterloo SE 2021')

    title= 'SE XXI'

    link(href='static/style.css' rel='stylesheet')
    script(src='static/bundle.js')

  body
    p#gg lmao
